[submodule "3rdparty/FP16"]
	path = 3rdparty/FP16
	url = https://github.com/Maratyszcza/FP16
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
